@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Ensure ReactPlayer's video covers the entire background perfectly */
.react-player video {
  object-fit: cover !important;
}